<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" data-controller="flatpickr">
          <div class = "new-form-div">
            <%= simple_form_for [@dream, @booking], html: { class: "new-form"} do |f|%>
              <%= f.input :starting_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :ending_date, as: :string, required: false, input_html: {class: "datepicker"} %>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, "Book", class: 'btn btn-outline-secondary' %>

      </div>
      <% end %>
    </div>
  </div>
</div>
