<ul>
  <% @dreams.each do |dream| %>
    <li>
      <%= dream.title %>
    </li>
    <% end %>
</ul>

<div class="cards">
  <% @dreams.each do |dream| %>
    <%= cl_image_tag dream.photo.key, crop: :fill%>
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  <% end %>
</div>
