.dashboard-title {
  border-bottom: 1px solid #404040;
}

.dash{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 5px;
  margin-top: 0px;
}

.created{
  // background-image: linear-gradient(rgba(175, 87, 134, 0.3), rgba(0,0,0,0.3)), url() !important;
  background-size: cover;
  background-position: center;
  margin-top: 12px;
  color: white;
  font-size: 24px;
  // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  p {
    font-size: 17px;
  }

}

.booked{
  // background-image: linear-gradient(rgba(175, 87, 134, 0.3), rgba(0,0,0,0.3)), url() !important;
  background-size: cover;
  background-position: center;
  margin-top: 12px;
  color: white;
  font-size: 24px;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  font-family: 'Playfair Display', serif;
  p {
    font-size: 17px;
  }

}
.dashboard-title{
  font-family: 'Playfair Display', serif;
  padding: 5px 5px 40px 5px;
  font-size: 60px;
  font-style: italic;
}
h2{
  font-family: 'Playfair Display', serif;
  padding: 5px;
  margin-top: 10px;
  font-weight: 500;


}
// body{
//   font-family: 'Playfair Display', serif !important;
// }

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:#C43E5A;
}

.cards-dash{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin: auto;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
  margin-bottom: 10px;
}


.booking_snipet {
  font-size: 10px;
}
