// Specific CSS for your home-page
@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 992px) {
  .cards-home
  {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}


.left-home-page {
  background-image: asset-url('background.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.right-home-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

.container-homepage {
  height: 100vh;
  overflow: hidden;
}

.category {
  width: 60%;
}

.cls-1 {
  fill: rgb(196, 62, 91) !important;

}
