// Import page-specific CSS files here.
@import "home";
@import "new";

body {
  background-color: rgba(212, 121, 100, 0.425);
}


h2 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  margin-top: 0px;
}

p {
  color: white;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0px;
  // font-weight: 800;
  // font-style: italic;
  margin-top: 0px;
}
