// Import page-specific CSS files here.
@import "home";
@import "new";
@import "components/search";



h2 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  margin-top: 0px;
}

p {
  color: white;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0px;
  // font-weight: 800;
  // font-style: italic;
  margin-top: 0px;
}

// .container > img {
//     width: 50%;
// }

// .container {
//   text-align: center;
// }

#index__container svg{
  width:30%
}

#index__container {
  text-align: center;
}


