
.new-form {
  // width: 70vw;
  background-color: #F7F7F7;

}
.new-form-div {
  // margin: 10px 40px 40px 40px;
  // max-width: 400px;
  width: 50vw;
  margin: auto;
  background-color: #F7F7F7;
  padding: 30px;
  // border: 1px solid white;
  // margin-right: 10px;
  margin-bottom: 20px;
}

.mb-3 {
  color: #404040;
}



#new-form-title {
  margin-top: 50px;
}

h1 {
  color: #404040;
  // text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-bottom: 10px;
}

.background {
  padding: 20px;
  // background-image: asset-url('background.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.fake-footer {
  background-image: asset-url('background.gif');
  height: 10px;
}
// .btn {
//   color: grey;
// }

// .btn:hover {
//   color: grey;

// }
