<div class="container col-4" data-controller="flatpickr">
  <%= simple_form_for [@dream, @booking] do |f|%>
    <%= f.input :starting_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :ending_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit, "Book", class: 'btn btn-outline-secondary' %>
  <%end%>
</div>
