
<div class="container-homepage">
  <div class="row" style="height:100%">
    <div class="col-12 col-lg-8 left-home-page">

      <h1 id='home-title1'>Dream</h1>
      <h1 id='home-title2'>Scape</h1>
      <h3 id='home-category'>Choose your own reality. </h3>

    </div>

    <div class="col-12 col-lg-4 right-home-page box-wrap">
      <% @modes.each do |mode| %>
        <%= link_to dreams_path(mode: mode.id), class: "box" do %>
          <%= render "pages/components/#{mode.name.downcase}" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
