.navbar-dream {
  justify-content: space-between;
  background: transparent;
}

.navbar-dream .navbar-collapse {
  flex-grow: 0;
}

.navbar-dream .navbar-brand img {
  width: 40px;
}

.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0px !important;
  height:7vh
}

.navbar a{
  color: rgb(120, 117, 154) !important;
  font-family: 'varela round', sans-serif;
  font-weight: bold;
}

li.nav-item{
  padding: 10px;
}

.navbar-dream .navbar-brand img{
  width: 75px !important;
}

.logo {
  padding-left: 20px;
}

//comment
