.navbar-dream {
  justify-content: space-between;
  background: transparent;
}

.navbar-dream .navbar-collapse {
  flex-grow: 0;
}

.navbar-dream .navbar-brand img {
  width: 40px;
}

.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
