.search-bar {
  font-family: 'Playfair Display', serif;
  margin: 20px 20px 20px 0;
  border: 1px solid #404040 !important;
}
.form-control {
  color: #F7F7F7;
}

// .search-button, .button-our {
//   font-family: 'Playfair Display', serif;
//   background-color: transparent;
//   border: 1px solid #F7F7F7;
//   color: #F7F7F7;
//   padding: 0px 46px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   font-weight: bold;
//   height: 38px;
//

.search-button {
  font-family: 'Playfair Display', serif;
  background-color: transparent;
  border: 1px solid #404040 !important;
  color: #404040;
  padding: 0px 46px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  // font-weight: bold;
  height: 38px;
}

.button-book {
  font-family: 'Playfair Display', serif;
  background-color: #404040;
  border: 1px solid #404040 !important;
  color: #F7F7F7;
  padding: 0px 46px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  // font-weight: bold;
  height: 38px;
}

.button-book:hover, {
  font-family: 'Playfair Display', serif;
  background-color: #F7F7F7;
  border: 1px solid #404040;
  color: #404040;
  transition: 1000ms;
}


.button-our {
  font-family: 'Playfair Display', serif;
  background-color: transparent;
  border: 1px solid #404040;
  color: #404040;
  padding: 5px 46px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  // font-weight: bold;
  height: fit-content;
  margin-top: 10px;
}

.button-our:hover {
  font-family: 'Playfair Display', serif;
  background-color: #404040;
  border: 1px solid #F7F7F7;
  color: #F7F7F7;
  transition: 1000ms;
}
.search-button:hover, {
  font-family: 'Playfair Display', serif;
  background-color: #404040;
  border: 1px solid #404040;
  color: #F7F7F7;
  transition: 1000ms;
}


.search-box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}


.search-bar::placeholder{
  color: #404040
}

.search-bar:focus::placeholder{
  color: #F7F7F7;
  border-color: #404040;
  outline: 0;
  box-shadow: 0;
}
